@import-normalize;

body {
  font-family: 'Roboto',
  sans-serif;
  
}

h1 {
  font-weight: 100;
  font-size: 50px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper{
  display: flex;
  /* flex-direction: column-reverse; */
  flex-flow: row wrap;
  justify-content: space-between;
  background: black;
  height: 700px;
  align-items: center;  /*align-items common settigs: flex-start flex-end center and stretch */
  align-content: flex-start;
}


.box {
  width: 100px;
  height: 100px;
  background: red;
  border: 1px solid black;
}
.box2 {
  width: 100px;
  height: 100px;
  background: yellow;
  border: 1px solid black;
}
.box3 {
  width: 300px;
  height: 100px;
  background: green;
  border: 1px solid black;
}